<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header class="header" th:fragment="header">
	<div class="headerWrap">
		<div class="headerArea">
			<div class="container">
				<div class="row">
					<h1 class="globalLogo">
						<a href="/">KB국민카드</a>
					</h1>
					<div class="globalMenu">
						<a href="#">개인</a>
						<a href="#">기업</a>
						<a href="#">가맹점</a>	
					</div>
					<div class="utilMenu">
						<a href="#">회원가입</a>
						<a href="#">고객센터</a>
						<a href="#">상품공시실</a>
						<a href="#">KB국민은행</a>
					</div>
				</div>
				
			</div>
		</div>
		<div class="GNB">
			<div class="inner">
				<div class="container">
					<div class="row">
						<ul class="gnb">
							<li class="gnb01">
								<a href="#" class="gnbDep1">
									<span>My KB</span>
								</a>
								<div class="gnbSub">
									<div class="serviceMenu">
										<a href="#" class="simpleBtn">결제예정금액</a>
										<a href="#" class="simpleBtn">이용내역</a>
										<a href="#" class="simpleBtn">이용대금명세서</a>
									</div>
									<ul class="gnbDep2 col5 first">
										<li class="dep2_01">
											<strong class="titleGnb2">나의 카드생활</strong>
											<ul class="gnbDep3">
												<li>
													<a href="#">
														<span>한눈에 보기</span>
													</a>
												</li>
											</ul>
										</li>
										<li class="dep2_02">
											<strong class="titleGnb2">카드이용</strong>
											<ul class="gnbDep3">
												<li>
													<a href="#">
														<span>결제예정금액</span>
													</a>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</li>
							<li class="gnb02">
								<a href="#" class="gnbDep1">
									<span>카드</span>
								</a>
							</li>
							<li class="gnb03"></li>
							<li class="gnb04"></li>
							<li class="gnb05"></li>
						</ul>
					</div>
				</div>	
			</div>
		</div>
	</div>
</header>

</html>