@charset "UTF-8";

.headerWrap {
	position: relative;
	height: 141px;
}

.headerWrap .headerArea {
	position: relative;
	text-align: left;
	height: 60px;
}

.headerWrap .headerArea .container {
	height: 60px;
}

.headerWrap .headerArea .container .row {
	height: 60px;
}

.headerWrap .headerArea .globalLogo {
	position: absolute;
	top: 15px;
}

.headerWrap .headerArea .globalLogo a {
	overflow: hidden;
	display: block;
	width: 170px;
	height: 30px;
	background-image: url("/img/globalLogo.png");
	text-indent: -9999px;
}

.headerWrap .headerArea .globalMenu {
	position: absolute;
	top: 0;
	left: 204px;
}

.headerWrap .headerArea .globalMenu a {
	display: inline-block;
	position: relative;
	padding: 18px 0 22px 0;
}

.headerWrap .headerArea .utilMenu {
	position: absolute;
	right: 0;
	text-align: right;
}

.headerWrap .headerArea .utilMenu a {
	display: inline-block;
	position: relative;
	margin: 0 0 0 10px;
	padding: 20px 0 20px 11px;
}

.headerWrap .headerArea .utilMenu a:after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -5px;
	width: 1px;
	height: 10px;
	background: #c2c2c2;
}

.headerWrap .headerArea .utilMenu a:first-child:after {
	display: none;
}

.headerWrap .GNB {
	position: relative;
	border-top: 1px solid #ddd;
	z-index: 110;
}

.headerWrap .GNB:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 80px;
	border-bottom: 1px solid #ddd;
}

.headerWrap .GNB .gnb {
	height: 80px;
}

.headerWrap .GNB .gnb > li {
	float: left;
	margin: 0 0 0 35px;
	height: 80px;
}

.headerWrap .GNB .gnb > li:first-child {
	margin-left: 0;
}

.headerWrap .GNB .gnb > li .gnbDep1 {
	display: block;
	position: relative;
	padding: 27px 0;
	height: 26px;
}

.headerWrap .GNB .gnb .gnbSub {
	position: absolute;
	right: 0;
	left: 0;
	background-color: #f9f9f9;
}

.headerWrap .GNB .gnb .gnbSub .serviceMenu {
	padding: 24px 10px;
	border-bottom: 1px solid #ddd;
}

.headerWrap .GNB .gnb .gnbSub .serviceMenu a {
	margin-left: 10px;
	padding: 0 15px;
	border: 1px solid #c2c2c2;
	border-radius: 17px;
	background-color: #f9f9f9;
	font-size: 14px;
}

.headerWrap .GNB .gnb .gnbSub .serviceMenu a:first-child {
	margin: 0; 
}

.headerWrap .GNB .gnb .gnbSub .gnbDep2 {
	position: relative;
	padding: 30px 0;
}

.headerWrap .GNB .gnb .gnbSub .gnbDep2 > li {
	float: left;
	width: 20%;
	height: 308px;
}

.headerWrap .GNB .gnb .gnbSub .gnbDep2 > li .titleGnb2 {
	display: block;
	margin: 8px 0 10px 0;
	padding-left: 20px;
	font-size: 16px;
}

.headerWrap .GNB .gnb .gnbSub .gnbDep2 > li .gnbDep3 {
	padding: 0 10px 0 20px;
}

.headerWrap .GNB .gnb .gnbSub .gnbDep2 > li .gnbDep3 > li {
	float: none;
	height: auto;	
}

.headerWrap .GNB .gnb .gnbSub .gnbDep2 > li .gnbDep3 > li a {
	display: block;
	padding: 6px 0;
	font-size: 14px;
}