@charset "UTF-8";

#siteMenu {
	background-color: #25a2d0;
	height: 50px;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

#siteMenu .siteMenu a {
	color: #fff;
	padding: 8px 0 6px 10px;
	display: inline-block;
	transition: color 0.3s ease;
}

#siteMenu .siteMenu a:first-child {
	font-size: 22px;
	font-weight: bold;
}

#siteMenu .siteMenu a:hover {
	color: #ccc;
}

.nav {
	overflow: hidden;
	padding: 25px 0;
}

.nav > div {
	float: left;
	width: 33.33333%;
}

.nav > div h3:before {
	content: '';
	width: 3px;
	height: 3px;
	background-color: #25a2d0;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 6px;
}

.nav > div h3 a {
	position: relative;
	font-size: 18px;
	color: #25a2d0;
	font-weight: bold;
	margin-bottom: 4px;
}

.nav > div h3 a:after {
	content: '';
	display: inline-block;
	width: 0;
	height: 1px;
	background: #25a2d0;
	transition: all .2s ease-out;
	position: absolute;
	bottom: 0;
	left: 0;
}

.nav > div h3:hover a:after {
	width: 100%;
}

/* 화면 너비 0 ~ 1220px */
@media (max-width: 1220px) {
	.container {
		width: 100%;
	}
	
	.row {
		padding: 0 15px; 
	}
}

/* 화면 너비 0 ~ 1024px */
@media (max-width: 1024px) {
	
}

/* 화면 너비 0 ~ 960px */
@media (max-width: 960px) {
	
}

/* 화면 너비 0 ~ 768px */
@media (max-width: 768px) {
	.nav > div {
		float: none;
		width: 100%;
	}
	
	.nav > div li {
		width: 33.33333%;
	}
	
	.nav > div ol {
		margin-bottom: 10px;
	}
}